/* Section 4 */
.app {
    border-top: .2rem solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &-flex {
        display: flex;
        justify-content: center;

        @include mq(phone) {
            display: block;
        }

        &-left {
            margin-right: 2rem;
            width: 30%;

            h1,
            p {
                text-align: left;
            }

            @include mq(tablet) {
                width: calc(100vw - 8rem);
                margin-left: 4rem;
                margin-right: 4rem;
            }

            @include mq(s-desktop) {
                width: calc(100vw - 8rem);
                margin-left: 4rem;
            }
        }

        &-right {
            padding-left: 1rem;

            @include mq(s-desktop){
                margin-right: 4rem;
            }

            img {
                width: 15rem;

                @include mq(s-desktop) {
                    width: 10rem;
                }
            }

            @include mq(tablet) {
                display: none;
            }
        }
    }
}